
.footer {
  display: inline-block;
  width: 100%;
  padding: 0 54px 30px 54px;

  ul {
    padding: 0;
  }

  .copyright {
    float: left;

    .message li {
      display: inline-block;
      height: 9px;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0.5px;

      a {
        color: rgba(32, 32, 32, 0.74);
        line-height: 55px;
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  .footer_links {
    float: right;
  }

  .footer_menu li {
    display: inline-block;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 12px;
    list-style: none;
    padding: 0px;
    text-transform: capitalize;
  }

  .footer_menu li a {
    color: rgba(32,32,32,0.74);
    padding: 0 0 0 18px;
    line-height: 55px;
    text-decoration: none;
  }

  .footer_menu li a:hover {
    color:#202020;
    text-decoration: none;
  }

  @media (max-width: @screen-xs-max) {
    .copyright {
      display: block;
      margin: 0 auto;
      text-align: center;
      float: none;
    }

    .footer_links {
      float: none;

      .footer_menu li {
        display: block;
        text-align: center;
      }
    }
  }

}
