.page {
  padding: 0;
  overflow: hidden;
  .animation-duration(0.3s);  

  .brand {
    .logo {
      margin-left: 12px;
    }
  }

  .header {
    height: 250px;
    color: @gray-light;
    position: relative;

    .image, .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .meta {
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      top: 10px;
      width: 100%;
      text-align: center;
      left: 0;
    }

    .back-btn {
      display: block;
      position: absolute;
      left: 20px;
      top: 5px;
      height: 30px;
      width: 30px;
      background: url(/public/img/back-arrow.svg) no-repeat center;
      background-size: 40%;
    }

    .name, .description {
      text-align: center;
      color: white;
    }

    .name {
      margin-top: 58px;
      font-family: 'Montserrat';
      font-size: 18px;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 300;

      @media (min-width: @device-bg-large-min) {
        font-size: 20px;
      }
    }

    .description {
      font-family: 'Open Sans';
      font-size: 12px;
      letter-spacing: 1px;
      padding: 0 50px;
      font-weight: 300;
      height: 64px;
      line-height: 47px;

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.6;
      }
    }

    .download-btn {
      display: none;
      background-color: @brand-success;
      color: white;
      font-weight: bold;
      border-radius: 20px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 11.5px;
      border: none;
      padding: 10px 18px;
      margin: 0px auto;

      @media (max-width: @screen-xs-min) {
        display: inline-block;
      }
    }

    .image {
      background: top left no-repeat;
      background-size: cover;
    }

    .mask {
      background: rgba(0,0,0,0.54);
    }
  }


  .header, .items {
    @media (min-width: @screen-xs-max) {
      margin: 0 auto;
    }
  }

  .tabbar {
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: absolute;
    background: white;
    bottom: 0;
    // z-index: 99;

    .tab {
      width: 49%;
      display: inline-block;
      height: inherit;
      color: @gray-light;
      font-family: 'Montserrat';
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 11px;
      text-align: center;
      box-sizing: border-box;

      &.selected {
        color: @gray-darker;
        border-bottom: 5px solid @brand-success;
      }
    }
  }

  .item {
    font-family: 'Open Sans';
    font-size: 12px;
    background-color: #f7f7f7;
    position: relative;
    transition: all 0.3s ease;

    &.quote {
      padding: 0px 35px;
      width: 100%;
      border-bottom: 1px solid #D8D8D8;
      text-align: center;
      height: 75px;
      line-height: 75px;

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }


    &.gif {
      display: inline-block;
      margin: .5% .5% .5% .9%;
      width: 48%;
      height: 100px;
      overflow: hidden;
      border-radius: 2px;

      img {
        height: inherit;
        width: 100%;
      }
    }

    .category {
      background: black;
      height: 25px;
      color: white;
      border-radius: 15px;
      text-align: center;
      text-transform: uppercase;
      padding: 2px 15px;
      display: block;
      position: absolute;
      font-family: 'Open Sans';
      font-size: 10px;
      line-height: 25px;
      letter-spacing: 0.8px;
      right: 20px;
      bottom: 15px;
      opacity: 0;
      transition: all 0.3s ease;
    }
  }

  @media (min-width: @screen-xs-min) and (max-width: @screen-md-min) {
    .header {
      height: 180px;

      .name {
        margin-top: 24px;
        font-size: 14px;
      }

      .description {
        font-size: 10px;
      }

      .tabbar {
        height: 30px;
        line-height: 30px;

        .tab {
          font-size: 8px;
          letter-spacing: 1.5px;

          &.selected {
            border-bottom: 2px solid @brand-success;
          }
        }
      }
    }

    .item {
      font-size: 10px;

      &.quote {
        height: 50px;
        line-height: 50px;
      }

      &.gif {
        height: 50px;
        width: 41.5%;
      }
    }
  }

  @media (min-width: @screen-md-min) {
    
  }
}

@media (max-width: @screen-xs-min) {
  .container {
    padding: 0;
  }

  .nav {
    padding: 0 18px 0;
  }

  .pack-item {
    .device, .device .device-content {
      position: relative;
      background: none;
      width: 100%;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
    }

    .nano > .nano-content {
      position: relative;
    }
  }
}