<div class="nav nav_primary fade-in one">
    <div class="cont nav_background">
        <div class="brand">
            <div class="brand_logo">Often</div>
            <div class="brand_message">| Express Yourself</div>
        </div>
        <div class="nav_links">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="http://www.twitter.com/tryoften">Support</a></li>
            </ul>
            <a href="#"><div class="button_container">Log In</div></a>
        </div>
    </div>
</div>

<div class="about fade-in two">
    <div class="about-us">
        <div class="abouttext">
            <h1>About Us</h1>
            <h2>Often is a design &amp; technology company empowering people to create, discover, &amp; share. Our mission is to bridge the gap between tech and culture, creating new tools for mobile.</h2>
        </div>
        <div class="team">
            <img class="picture" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/teampic2.png" onContextMenu="return false;" draggable="false"></img>
        </div>
    </div>
    <div class="who-we-are">
        <div class="aboutus">
            <h1>Who We Are</h1>
            <h2>We’re a group of crazy 20-something year olds that believe small changes can have a huge impact. We come from all over the world, designing and building things for people like us.</h2>
        </div>
        <div class="team-images">
            <div class="view">
                <img class="name" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/luccard.png" onContextMenu="return false;" draggable="false"></img>
                <div class="mask">
                    <img class="twitter" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/twitterimage.png" onContextMenu="return false;" draggable="false"/>
                    <a href="https://twitter.com/lucsucces" class="info" title="Full Image">@Lucsucces</a>
                </div>
            </div>
            <div class="view">
                <img class="name" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/regycard.png" onContextMenu="return false;" draggable="false"></img>
                <div class="mask">
                    <img class="twitter" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/twitterimage.png" onContextMenu="return false;" draggable="false"/>
                    <a href="https://twitter.com/perlerar" class="info" title="Full Image">@perlerar</a>
                </div>
            </div>
            <div class="view">
                <img class="name" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/jakubcard.png" onContextMenu="return false;" draggable="false"></img>
                <div class="mask">
                    <img class="twitter" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/twitterimage.png" onContextMenu="return false;" draggable="false"/>
                    <a href="https://twitter.com/jakubification" class="info" title="Full Image">@jakubification</a>
                </div>
            </div>
            <div class="view">
                <img class="name" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/kervinscard.png" onContextMenu="return false;" draggable="false"></img>
                <div class="mask">
                    <img class="twitter" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/twitterimage.png" onContextMenu="return false;" draggable="false"/>
                    <a href="https://twitter.com/kervsk" class="info" title="Full Image">@Kervsk</a>
                </div>
            </div>
            <div class="view">
                <img class="name" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/komrancard.png" onContextMenu="return false;" draggable="false"></img>
                <div class="mask">
                    <img class="twitter" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/twitterimage.png" onContextMenu="return false;" draggable="false"/>
                    <a href="https://twitter.com/komreezy_" class="info" title="Full Image">@komreezy_</a>
                </div>
            </div>
            <div class="view">
                <img class="name" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/katecard.png" onContextMenu="return false;" draggable="false"></img>
                <div class="mask">
                    <img class="twitter" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/twitterimage.png" onContextMenu="return false;" draggable="false"/>
                    <a href="https://twitter.com/katekatbar_" class="info" title="Full Image">@katekatbar_</a>
                </div>
            </div>
            <div class="view">
                <img class="name" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/hiringcard.png" onContextMenu="return false;" draggable="false"></img>
            </div>
        </div>
    </div>
    <div class="work-with-us">
        <div class="jobs">
            <h1>Come Work With Us</h1>
            <h2>Interested in the mobile keyboard space? So are we. Come be a part of an experienced team that comes from Spotify, Square, &amp; Amazon. We're proudly based in NYC.</h2>
        </div>
        <div class="positions">
            <ul>
                <li><a href="https://angel.co/often/jobs/95265-backend-engineer">Backend Engineer</a></li>
                <li><a href="https://angel.co/often/jobs/95256-ios-engineer">iOS Engineer</a></li>
                <li><a href="https://angel.co/l/LREdR">Marketing | Intern</a></li>
            </ul>
        </div>
        <div class="nyc">
            <img class="skyline" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/nycillust.png" onContextMenu="return false;" draggable="false"></img>
        </div>
    </div>
</div>

<div class="footer footer_primary">
    <div class="footcont footer_background">
        <div class="footer_links">
            <ul class="mobile_footer_menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="http://www.twitter.com/tryoften">Support</a></li>
            </ul>
            <ul class="footer_menu">
                <li><a href="privacypolicy.html">Privacy Policy</a></li>
                <li><a href="privacypolicy.html">Terms of Use</a></li>
            </ul>
        </div>
        <div class="copyright">
            <ul class="copyright_message">
                <li><a href="#">© Often, Inc. | Made with 🔑 in NYC</a></li>
            </ul>
        </div>
    </div>
</div>
