<div class="container home">
    <div class="section large section-1">
        <div class="right-section">
            <div class="slogan fade-in three">
                <h1>Create your very own<br> keyboard with Photos,<br>GIFs & Quotes</h1>
                <div class="text-divider"></div>
            </div>
            <div class="appstoreicon fade-in four">
                <a href="https://itunes.apple.com/us/app/often-search-collect-share/id1053313047?ls=1&mt=8">
                    <span>Get the app</span>
                </a>
            </div>
        </div>
        <div class="left-section fade-in two">
            <div class="device">
                <div class="device-content">
                    <img id="video" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/often2.0.gif" />
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section section-2">
        <div class="shell content_shell_2">
            <div class="message message_1 fade-in four">
                <h1>Share your keyboard with friends & follow theirs</h1>
                <h2>Each keyboard has a unique URL that you can share with friends to follow and use!</h2>
            </div>
            <div class="illustration illustration1 fade-in four">
                <img src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/illustrationA.svg" />
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section section-3">
        <div class="shell content_shell_3">
            <div class="message message_2 fade-in four">
                <h1>Look how you want. Edit the look & feel of your keyboard</h1>
                <h2>Add a picture, title, description & even change the background color of your keyboard profile!</h2>
            </div>
            <div class="illustration illustration2 fade-in four">
                <img src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/illustrationB.svg" />
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section section-4">
        <div class="shell content_shell_4">
            <div class="message message_3">
                <h1>Not sure what to add to your keyboard? We got you fam</h1>
                <h2>We’ve hand picked stuff from some of our favorite shows, celebs & artists for you to add from</h2>
            </div>
            <div class="illustration illustration3">
                <img src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/illustrationC.svg" />
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="section section-5">
        <div class="message message_4">
            <h1>Help Us Make Often Better</h1>
            <h2>We’re always improving the app but if you’d like to help, get in touch! We’d love to hear from you</h2>
            <div class="subscribe" align="center">
                <form action="index.html" method="post" class="subscribe-form">
                    <input type="email" name="email" class="subscribe-input" placeholder="Enter Email Address">
                    <button type="submit" class="subscribe-submit">Say Hello</button>
                </form>
            </div>
        </div>
        <div class="illustration illustration4">
            <img src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/illustrationF.svg" />
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="check-icon">
                <img class="checkicon" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/checkicon.svg"></img>
            </div>
            <div class="modal-header">
                <h2 class="modal-title" id="label">Almost Finished!</h2>
            </div>
            <div class="modal-body">
                <h3>We need to confirm your email address fam. To finish signing up for the beta, click the link in the email we just sent you.</h3>
                <h4>- Much love, The Often Team</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">OK</a>
            </div>
        </div>
    </div>
</div>
