<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="check-icon">
                <img class="checkicon" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/checkicon.svg" onContextMenu="return false;" draggable="false"></img>
            </div>
            <div class="modal-header">
                <h2 class="modal-title" id="label">Almost Finished!</h2>
            </div>
            <div class="modal-body">
                <h3>We need to confirm your email address fam. To finish signing up for the beta, click the link in the email we just sent you.</h3>
                <h4>- Much love, The Often Team</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">OK</a>
            </div>
        </div>
    </div>
</div>

<div id="contain">
    <div class="nav nav_primary fade-in one">
        <div class="cont nav_background">
            <div class="brand">
                <div class="brand_logo">Often</div>
                <div class="brand_message">| Express Yourself</div>
            </div>
            <div class="nav_links">
                <ul class="menu">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="http://www.twitter.com/tryoften">Support</a></li>
                </ul>
                <a href="#"><div class="button_container">Log In</div></a>
            </div>
        </div>
    </div>

    <div class="content_section_1">
        <div class="right-section">
            <div class="app_copy fade-in three">
                <h1>Share Lyrics,<br> Quotes &amp; GIFs from topics you love</h1>
                <div class="text-divider"></div>
            </div>
            <div class="appstoreicon fade-in four">
                <a href="https://itunes.apple.com/us/app/often-search-collect-share/id1053313047?ls=1&mt=8">
                    <span>Get the app</span>
                </a>
            </div>
        </div>
        <div class="left-section fade-in two">
            <div id="device">
                <img id="video" src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/often.gif" onContextMenu="return false;" draggable="false"></img>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="content_section_2">
        <div class="content_shell_2">
            <div class="message_1 fade-in four">
                <h1>Pick Packs from TV Shows, Artists, Movies, Sports</h1>
                <h2>Packs are like keyboards! Each one has a collection of quotes, GIFs, lyrics &amp; more!</h2>
            </div>
            <div class="illustration1 fade-in four">
                <img src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/illustration1.svg" onContectMenu="return false;" draggable="false"></img>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="content_section_3">
        <div class="content_shell_3">
            <div class="message_2 fade-in four">
                <h1>Unique categories in every Pack. From feels to hate</h1>
                <h2>Find the perfect response for every conversation. Intros, SMH, &amp; More. Don't let them catch you sleepin'</h2>
            </div>
            <div class="illustration2 fade-in four">
                <img src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/illustration2.svg" onContectMenu="return false;" draggable="false"></img>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="content_section_4">
        <div class="content_shell_4">
            <div class="message_3">
                <h1>Fast, easy Pack switching. Share everywhere</h1>
                <h2>Add as many packs as you want and easily switch between them right inside the keyboard</h2>
            </div>
            <div class="illustration3">
                <img src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/illustration3.svg" onContectMenu="return false;" draggable="false"></img>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="content_section_5">
        <div class="message_4">
            <h1>Help Us Make Packs Better</h1>
            <h2>Soon, anyone will be able to make their own pack! Sign up below to get early access</h2>
            <div class="subscribe" align="center">
                <form action="index.html" method="post" class="subscribe-form">
                    <input type="email" name="email" class="subscribe-input" placeholder="Enter Email Address">
                    <button type="submit" class="subscribe-submit">Get Access</button>
                </form>
            </div>
        </div>
        <div class="illustration4">
            <img src="https://storage.googleapis.com/firebase-often-dev.appspot.com/static/img/illustration4.svg" onContectMenu="return false;" draggable="false"></img>
        </div>
    </div>

    <div class="footer footer_primary">
        <div class="footcont footer_background">
            <div class="footer_links">
                <ul class="mobile_footer_menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="http://www.twitter.com/tryoften">Support</a></li>
                </ul>
                <ul class="footer_menu">
                    <li><a href="privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="privacypolicy.html">Terms of Use</a></li>
                </ul>
            </div>
            <div class="copyright">
                <ul class="copyright_message">
                    <li><a href="#">© Often, Inc. | Made with 🔑 in NYC</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
