<div class="fullpage-privacy container fade-in two">
  <div class="right-side">
    <div class="privacy" id="fsvs-body">
      <div class="background slide">
        <div class="privacy-1">
          <img class="install-image-1" src="/public/img/lockicon.png" />
        </div>
        <div class="privacytext">
          <h2>Privacy Policy &amp; Terms of Use</h2>
          <div class="rectangle-1"></div>
          <h3> Last updated: May 7th, 2016 </h3>
          <p>We've created this privacy policy (this “Privacy Policy”) because we know that you care about how your information is used and shared. This Privacy Policy relates to the information collection and use practices of Surf in connection with the Often Keyboard. By downloading and using the Often Keyboard, users are agreeing to the terms of this Privacy Policy and the accompanying Terms of Service.</p>

          <p>Capitalized terms not defined in this Privacy Policy shall have the meaning set forth in the Terms of Service.</p>

          <h4>All brands and personality names are trademarks™ or registered® trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</h4>

          <h4>About Full Access and the Information We Collect and/or Receive</h4>
          
          <p>When you download and enable the Often Keyboard, you will see the following alert:
          “Full access allows the developer to transmit anything you type, including things you have previously typed with this keyboard. This could include sensitive information such as your credit card number or street address.”</p>

          <p>This alert appears whenever a new keyboard is installed on iOS. Often does not transmit or store any personal information.</p>

          <p>Instead, the Often Keyboard uses Full Access to do a few things:
          Access the Internet, which is required for services like Spotify, Soundcloud, Youtube, etc.
          Log language data, in an anonymous format, which helps Often improve autocorrect and autocomplete.
          Log crash data, in an anonymous format, which helps us improve the product.</p>

          <p>In the course of operating the Often Keyboard, Project Surf will also collect (and/or receive) the following types of information. You authorize us to collect and/or receive such information.
          From Your Activity. In an ongoing effort to improve the Often Keyboard, we may automatically collect certain information when users access and use the Often Keyboard. Such information includes, without limitation, IP addresses, browser type and language, referring and exit pages and URLs, date and time, amount of time spent on particular pages, what sections of the Often Keyboard users visit, log files, and similar information and data.</p>

          <p>From Cookies. We collect information using “cookie” technology. Cookies are small packets of data that a Often Keyboard stores on your device’s hard drive so that your device will “remember” information about your use. We may use both session cookies (which expire once you close your web browser) and persistent cookies (which stay on your device until you delete them) to help us collect this information and to enhance your experience using the Often Keyboard.</p>

          <p>From You. You may voluntarily provide us additional information about yourself that does not identify you personally, such as your gender, country, product and service preferences, and other.
          Project Surf does not monitor, recognize, or honor any opt-out or do not track mechanisms, including general web browser “Do Not Track” settings and/or signals.</p>

          <h4>The Information Collected by or Through Third-Party Advertising Companies.</h4>

          <p>You authorize us to share information about your activity on the Often Keyboard with third parties for the purpose of analyzing, managing, reporting, and optimizing your use of the Often Keyboard. These third parties may use cookies, pixel tags (also called web beacons or clear gifs), and/or other technologies to collect such information for such purposes.</p>

          <h4>Withdrawing Consent</h4>

          <p>You may withdraw consent of data collection by accessing Settings on your device and disabling Full Access.</p>

          <h4>How We Use and Share the Information</h4>

          <p>You authorize us to use the information set forth above (collectively, the “Information”) to provide and improve our Often Keyboard, products, and services; to process transactions you request; to inform you about our products and services and those of our promotional partners; and to bring you customized content (such as newsletters) based on your activity on the Often Keyboard.</p>

          <p>You also authorize us to use and/or share Information as described below.</p>

          <p>We may share the Information concerning our users with our resellers, distributors, and sales representatives, which may use such Information to help inform users about our products and services.</p>

          <p>We may, from time to time, share Information with other companies. However, to the extent required by law, you will be given the opportunity to opt-out of such sharing.</p>

          <p>We will access, use, and share the Information as required to fulfill our contractual obligations to you and to address your questions or requests regarding our products, services, and/or support.</p>

          <p>We may employ other companies and individuals to perform functions on our behalf. Examples may include providing technical assistance, recruiting services, order fulfillment, customer service, and marketing assistance. These other companies will have access to the Information only as necessary to perform their functions and to the extent permitted by law.</p>

          <p>In an ongoing effort to better understand our users, the Often Keyboard, products and services and those of our promotional partners, we may analyze certain Information in anonymized and aggregated form in order to operate, maintain, manage, and improve the Often Keyboard and/or such products and services. This aggregate information does not identify you personally. We may also disclose aggregated user statistics in order to describe the Often Keyboard and these products and services to current and prospective business partners and to other third parties for other lawful purposes.</p>

          <p>We may share some or all of your Information with any of our parent companies, subsidiaries, joint ventures, or other companies under common control with us.</p>

          <p>As we develop our businesses, we might sell or buy businesses or assets. In the event of a corporate sale, merger, reorganization, sale of assets, dissolution, or similar event, the Information may be part of the transferred assets.</p>

          <p>To the extent permitted by law, we may also disclose the Information: (i) when required by law, court order, or other government or law enforcement authority or regulatory agency; or (ii) whenever we believe that disclosing such Information is necessary or advisable, for example, to protect the rights, property, or safety of Project Surf or others.</p>

          <h4>Accessing and Modifying Information and Communication Preferences</h4>

          <p>Users may access, remove, review, and/or make changes to their preferences regarding Information we collect by contacting us via email support@tryoften.com. In addition, you may manage your receipt of marketing and non-transactional communications from us by clicking on the “unsubscribe” link located on the bottom of any Projet Surf marketing e-mail. We will use commercially reasonable efforts to process such requests in a timely manner. You should be aware, however, that it is not always possible to completely remove or modify Information in our subscription databases.</p>

          <h4>How We Protect the Information</h4>

          <p>We take reasonable steps to protect the Information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. Please understand, however, that no security system is impenetrable. We cannot guarantee the security of our databases, nor can we guarantee that the Information that you supply will not be intercepted while being transmitted to and from us over the Internet. In particular, e-mail sent to or from the Often Keyboard may not be secure, and you should therefore take special care in deciding what Information you send to us via e-mail.</p>

          <h4>Important Notices to Non-U.S. Residents</h4>

          <p>The Often Keyboard and its servers are operated in the United States and elsewhere. Please be aware that your Information may be transferred to, processed, maintained, and used on computers, servers, and systems located outside of your state, province, country, or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction. If you are located outside the United States and choose to use the Often Keyboard, you hereby irrevocably and unconditionally consent to such transfer, processing, and use in the United States and elsewhere.</p>

          <h4>External Often Keyboards</h4>

          <p>The Often Keyboard may contain links to third-party Often Keyboards. Project Surf has no control over the privacy practices or the content of these Often Keyboards. As such, we are not responsible for the content or the privacy policies of those third-party Often Keyboards. You should check the applicable third-party privacy policy and terms of use when visiting any other Often Keyboards.</p>
          
          <h4>Children</h4>

          <p>We do not knowingly collect personal information from children under the age of 13 through the Often Keyboard. If you are under 13, please do not give us any personal information. We encourage parents and legal guardians to monitor their children’s Internet usage and to help enforce our Privacy Policy by instructing their children never to provide personal information through the Often Keyboard without their permission. If you have reason to believe that a child under the age of 13 has provided personal information to us, please contact us, and we will endeavor to delete that information from our databases.</p>

          <h4>Changes to This Privacy Policy</h4>

          <p>This Privacy Policy is effective as of the date stated at the top of this Privacy Policy. We may change this Privacy Policy from time to time. Any such changes will be posted on the Often Keyboard. By accessing the Often Keyboard after we make any such changes to this Privacy Policy, you are deemed to have accepted such changes. Please be aware that, to the extent permitted by applicable law, our use of the Information is governed by the Privacy Policy in effect at the time we collect the Information. Please refer back to this Privacy Policy on a regular basis.</p>

          <h4>How to Contact Us</h4>

          <p>If you have questions about this Privacy Policy, please contact Project Surf via e-mail at support@tryoften.com with “PRIVACY POLICY” in the subject line.</p>

          <h4>Terms of Use</h4>

          <p>Project Surf Inc. (“Project Surf,” “we,” “us,” or “our”) welcomes you. We provide you access to our mobile application (the “Often Keyboard”) subject to the following Terms of Use, which may be updated by us from time to time without notice to you. By downloading, accessing and using the Often Keyboard you acknowledge that you have read, understood, and agree to be legally bound by these Terms of Use and the terms and conditions of our Privacy Policy, which are hereby incorporated by reference (collectively, this “Agreement”). You also represent and warrant that you are at least 13 years old or older. If you are accepting these Terms of Use on behalf of a company or other legal entity, you represent that you have the authority to bind such entity to the terms and conditions set forth herein. If you do not have such authority, or if you do not agree to any of these terms, then you are not permitted to use the Often Keyboard.</p>

          <p>Capitalized terms not defined in these Terms of Use shall have the meaning set forth in our Privacy Policy.</p>

          <h4>1. DESCRIPTION OF SERVICES</h4>
          <p>We provide users with access to the Often Keyboard as described in this Agreement. We are under no obligation to accept any individual as a user, and may accept or reject any user in our sole and complete discretion.</p>

          <h4>2. COMMUNITY GUIDELINES</h4>
          <p>By accessing and/or using the Often Keyboard, you hereby agree that:
          You will not use the Often Keyboard for any unlawful purpose;
          You will not use automated means, including spiders, robots, crawlers, data mining tools, or the like to download or scrape data from the Often Keyboard, except for Internet search engines (e.g., Google) and non-commercial public archives (e.g., archive.org) that comply with our robots.txt file;
          You will not take any action that imposes or may impose (in our sole discretion) an unreasonable or disproportionately large load on our technical infrastructure;
          You will not interfere with or attempt to interrupt the proper operation of the Often Keyboard through the use of any virus, device, information collection or transmission mechanism, software or routine, or access or attempt to gain access to any data, files, or passwords related to the Often Keyboard through hacking, password or data mining, or any other means; and
          We reserve the right, in our sole and absolute discretion, to deny you access to the Often Keyboard, or any portion of the Often Keyboard, without notice and without liability to you, if you fail to adhere to these guidelines.</p>

          <h4>3. RESTRICTIONS</h4>
          <p>The Often Keyboard is available for individuals aged 13 years or older. If you are 13 or older, but under the age of majority in your jurisdiction, you should review this Agreement with your parent or guardian to make sure that you and your parents or guardian understand it.</p>


          <h4>4. INTELLECTUAL PROPERTY</h4>
          <p>The Often Keyboard is comprised of or may contain material, such as software, text, graphics, images, sound recordings, audiovisual works, and other material provided by or on behalf of Project Surf (collectively referred to as the “Content”). The Content may be owned by us or by third parties. The Content is protected under both United States and foreign laws. Unauthorized use of the Content may violate copyright, trademark, and other laws. You have no rights in or to the Content, and you will not use the Content except as permitted under this Agreement. No other use is permitted without prior written consent from us. You must retain all copyright and other proprietary notices contained in the original Content. You may not sell, transfer, assign, license, sublicense, or modify the Content or reproduce, display, publicly perform, make a derivative version of, distribute, or otherwise use the Content in any way for any public or commercial purpose. The use or posting of the Content on any other platform for any purpose is expressly prohibited.<p>

          <p>If you violate any part of this Agreement, your permission to access and/or use the Content and the Often Keyboard automatically terminates.</p>

          <p>The trademarks, service marks, and logos of Project Surf (“Project Surf Trademarks”) used and displayed on the Often Keyboard are registered and unregistered trademarks or service marks of Project Surf. Other company, product, and service names located on the Often Keyboard may be trademarks or service marks owned by others (the “Third-Party Trademarks,” and, collectively with Project Surf Trademarks, the “Trademarks”). Nothing on the Often Keyboard should be construed as granting, by implication, estoppel, or otherwise, any license or right to use the Trademarks, without our prior written permission specific for each such use. Use of the Trademarks as part of a link to or from any site is prohibited unless establishment of such a link is approved in advance by us in writing. All goodwill generated from the use of Project Surf Trademarks inures to our benefit.</p>

          <p>Elements of the Often Keyboard are protected by trade dress, trademark, unfair competition, and other state and federal laws and may not be copied or imitated in whole or in part, by any means, including but not limited to the use of framing or mirrors. None of the Content may be retransmitted without our express, written consent for each and every instance.</p>

          <h4>6. ACCESSING AND DOWNLOADING AN APPLE APP FROM APPLE</h4>
          <p>The following terms apply to any Apple App. These terms are in addition to all other terms contained in these Terms of Use:</p>

          <p>You acknowledge and agree that (i) these Terms of Use are concluded between you and Project Surf only, and not Apple, and (ii) Project Surf, not Apple, is solely responsible for the Apple App and content thereof. Your use of the Apple App must comply with the App Store Terms of Use.
          You acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the Apple App.</p>

          <p>In the event of any failure of the Apple App to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase price for the Apple App to you and to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the Apple App. As between Project Surf and Apple, any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be the sole responsibility of Project Surf.</p>

          <p>You acknowledge that, as between Project Surf and Apple, Apple is not responsible for addressing any claims you have or any claims of any third party relating to the Apple App or your possession and use of the Apple App, including, but not limited to: (i) product liability claims; (ii) any claim that the Apple App fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.</p>

          <p>You acknowledge that, in the event of any third party claim that the Apple App or your possession and use of that Apple App infringes that third party’s intellectual property rights, as between Project Surf and Apple, Project Surf, not Apple, will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim to the extent required by these Terms of Use.</p>

          <p>You represent and warrant that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.
          You acknowledge and agree that Apple, and Apple’s subsidiaries, are third party beneficiaries of these Terms of Use as related to your license of the Apple App, and that, upon your acceptance of the terms and conditions of these Terms of Use, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms of Use as related to your license of the Apple App against you as a third party beneficiary thereof.</p>

          <p>Without limiting any other terms of these Terms of Use, you must comply with all applicable third party terms of agreement when using the Apple App.</p>

          <h4>9. COMMUNICATIONS TO US</h4>
          <p>Although we encourage you to e-mail us, you should not e-mail us any content that contains confidential information. With respect to all e-mails you send to us, including but not limited to, feedback, questions, comments, suggestions, and the like, we shall be free to use any ideas, concepts, know-how, or techniques contained in your communications for any purpose whatsoever, including, but not limited to, the development, production and marketing of products and services that incorporate such information, without compensation or attribution to you.</p>

          <h4>10. NO WARRANTIES; LIMITATION OF LIABILITY</h4>
          <p>WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE OFTEN KEYBOARD OR THE CONTENT. WE SHALL NOT BE SUBJECT TO LIABILITY FOR ANY DELAYS OR INTERRUPTIONS OF THE OFTEN KEYBOARD FROM WHATEVER CAUSE. YOU AGREE THAT YOU USE THE CONTENT AND THE OFTEN KEYBOARD AT YOUR OWN RISK.</p>

          <p>WE DO NOT WARRANT THAT THE OFTEN KEYBOARD WILL OPERATE ERROR-FREE OR THAT THE OFTEN KEYBOARD, ITS SERVERS, OR THE CONTENT ARE FREE OF COMPUTER VIRUSES OR SIMILAR CONTAMINATION OR DESTRUCTIVE FEATURES. IF YOUR USE OF THE OFTEN KEYBOARD OR THE CONTENT RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, WE SHALL NOT BE RESPONSIBLE FOR THOSE COSTS.</p>

          <p>THE OFTEN KEYBOARD AND THE CONTENT ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT ANY WARRANTIES OF ANY KIND. WE DISCLAIM ALL WARRANTIES, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE, MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES’ RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE AND ANY WARRANTIES ARISING FROM A COURSE OF DEALING, COURSE OF PERFORMANCE, OR USAGE OF TRADE.</p>

          <p>IN NO EVENT SHALL WE BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DIRECT, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO ACCESS AND USE THE OFTEN KEYBOARD OR THE CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER LEGAL THEORY, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME STATES DO NOT ALLOW EXCLUSIONS OF CERTAIN WARRANTIES OR CERTAIN LIMITATIONS OF LIABILITY, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. IN SUCH STATES, OUR WARRANTIES AND LIABILITY SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.</p>

          <p>THE OFTEN KEYBOARD MAY CONTAIN TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS OR OMISSIONS. WE ARE NOT RESPONSIBLE FOR ANY SUCH TYPOGRAPHICAL, TECHNICAL, OR PRICING ERRORS LISTED ON THE OFTEN KEYBOARD. THE OFTEN KEYBOARD MAY CONTAIN INFORMATION ON CERTAIN PRODUCTS AND SERVICES, NOT ALL OF WHICH ARE AVAILABLE IN EVERY LOCATION. A REFERENCE TO A PRODUCT OR SERVICE ON THE OFTEN KEYBOARD DOES NOT IMPLY THAT SUCH PRODUCT OR SERVICE IS OR WILL BE AVAILABLE IN YOUR LOCATION. WE RESERVE THE RIGHT TO MAKE CHANGES, CORRECTIONS, AND/OR IMPROVEMENTS TO THE OFTEN KEYBOARD AT ANY TIME WITHOUT NOTICE.</p>

          <h4>11. EXTERNAL SITES</h4>
          <p>The Often Keyboard may contain links to third-party websites, Often Keyboards, applications, or services (“External Sites”). These links are provided solely as a convenience to you and not as an endorsement by us of the content on such External Sites. The content of such External Sites is developed and provided by others. You should contact the site administrator or webmaster for those External Sites if you have any concerns regarding such links or any content located on such External Sites. We are not responsible for the content of any linked External Sites and do not make any representations regarding the content or accuracy of materials on such External Sites. You should take precautions when downloading files from all websites to protect your computer from viruses and other destructive programs. If you decide to access linked External Sites, you do so at your own risk.</p>

          <h4>12. INDEMNIFICATION</h4>
          <p>You will defend, indemnify, and hold harmless Project Surf, our affiliates, and our and their respective officers, directors, managers, employees, and agents from any and all liabilities, costs, damages, and expenses (including reasonable attorneys’ fees) in connection with any third-party action, claim, or proceeding (each, a “Claim”) arising from your breach of this Agreement or your access to, use, or misuse of the Often Keyboard or the Content. We shall promptly notify you of any Claim; provide you, at your expense, with reasonable cooperation in the defense of the Claim; and provide you with sole control over the defense and negotiations for a settlement or compromise. Notwithstanding the foregoing, we reserve the right to assume the exclusive defense and control of any Claim that is subject to indemnification under this section. In such case, you agree to cooperate with any reasonable requests assisting our defense of such matter.</p>

          <h4>13. COMPLIANCE WITH APPLICABLE LAWS</h4>
          <p>The Often Keyboard is based in the United States. We make no claims concerning whether the Often Keyboard or the Content may be downloaded, viewed, or be appropriate for use outside of the United States. If you access the Often Keyboard or the Content from outside of the United States, you do so at your own risk. Whether inside or outside of the United States, you are solely responsible for ensuring compliance with the laws of your specific jurisdiction.</p>

          <h4>14. TERMINATION OF THE AGREEMENT</h4>
          <p>We reserve the right, in our sole discretion, to restrict, suspend, or terminate this Agreement and your access to all or any part of the Often Keyboard, at any time and for any reason without prior notice or liability. We reserve the right to change, suspend, or discontinue all or any part of the Often Keyboard at any time without prior notice or liability.</p>

          <h4>15. MISCELLANEOUS</h4>
          <p>This Agreement is governed by the internal substantive laws of the State of New York, without respect to its conflict of law provisions. You expressly agree: (i) to submit to the exclusive personal jurisdiction of the state and federal courts sitting in the State of New York; and (ii) that the Often Keyboard shall be deemed passive that does not give rise to personal jurisdiction over Project Surf, either specific or general, in jurisdictions other than New York.</p>

          <p>If any provision of this Agreement is held to be invalid, illegal, or unenforceable by a court of competent jurisdiction, such provision will be deemed restated, in accordance with applicable law, to reflect as nearly as possible the original intentions of the parties, and the remainder of the Agreement will remain in full force and effect.</p>

          <p>The following provisions will survive any expiration or termination of this Agreement: “Intellectual Property,” “User Content,” “Communications to Us,” “No Warranties; Limitation of Liability,” “Indemnification,” “Termination of the Agreement,” and “Miscellaneous.”</p>

          <p>Our failure to act on or enforce any provision of the Agreement shall not be construed as a waiver of that provision or any other provision in this Agreement. No waiver shall be effective against us unless made in writing, and no such waiver shall be construed as a waiver in any other or subsequent instance. Except as expressly agreed by us and you in writing, this Agreement constitutes the entire Agreement between you and us with respect to the subject matter, and supersedes all previous or contemporaneous agreements, whether written or oral, between the parties with respect to the subject matter. The section headings are provided merely for convenience and shall not be given any legal import. This Agreement will inure to the benefit of our successors, assigns, licensees, and sublicensees.</p>
          <h5>Copyright 2015 Project Surf Inc. All rights reserved.</h5>
        </div>
      </div>
    </div>
  </div>
</div>