<div class="container user">
    <div class="header">
        <div class="image" style="background-image: url({{image.large_url}})"></div>
        <div class="mask"></div>

        <div class="meta">
            <h2 class="name">{{name}}</h2>
            <div class="description">
                <span>{{description}}</span>
            </div>
            <a href="{{mobileURL}}" class="primary primary-btn">Open in App</a>
        </div>

        <div class="tabbar">
            <div id="quote" class="tab selected">Quotes</div>
            <div id="gif" class="tab">GIFS</div>
        </div>
    </div>
</div>