<div class="footer">

    <div class="pull-right">
        <ul class="mobile_footer_menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="http://www.twitter.com/tryoften">Support</a></li>
        </ul>
        <ul class="footer_menu">
            <li><a href="privacypolicy.html">Privacy Policy</a></li>
            <li><a href="privacypolicy.html">Terms of Use</a></li>
        </ul>
    </div>
    <div class="copyright">
        <ul class="message">
            <li><a href="#">© Often, Inc. | Made with 🔑 in NYC</a></li>
        </ul>
    </div>

</div>