<div class="footer">

    <div class="footer_links">
        <ul class="footer_menu hidden-xs">
            <li><a href="http://www.twitter.com/tryoften">Support</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/privacy">Terms of Use</a></li>
        </ul>
    </div>

    <div class="copyright">
        <ul class="message">
            <li><a href="#">© Often, Inc. | Made with 🔑 in NYC</a></li>
        </ul>
    </div>

</div>