<nav class="navbar main-nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand brand">
            <div class="logo">Often</div>
            <div class="message">| Express Yourself</div>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="visible-xs-block"><a href="/">Home</a></li>
            <li><a href="/keyboards">Keyboards</a></li>
            <li><a href="/about">About Us</a></li>
            <li class="visible-xs-block"><a href="/privacy">Privacy Policy</a></li>
            <li class="visible-xs-block"><a href="/privacy">Terms of Use</a></li>
            <li class="visible-xs-block">
                <a href="http://www.twitter.com/tryoften">
                    Support   
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </a>
            </li>
            <li><a href="#" class="navbar-btn login-btn navbar-right">Log In</a></li>
        </ul>
    </div>
</nav>