<div class="nav fade-in one">
    <div class="brand">
        <div class="logo">Often</div>
        <div class="message">| Express Yourself</div>
    </div>
    <div class="nav-links">
        <ul class="menu">
            <li><a href="/about">About Us</a></li>
            <li><a href="http://www.twitter.com/tryoften">Support</a></li>
        </ul>
        <a href="#" class="login-btn">Log In</a>
    </div>
</div>