<div class="nav">
    <a href="/" class="brand">
        <div class="logo">Often</div>
        <div class="message">| Express Yourself</div>
    </a>
    <div class="nav-links">
        <ul class="menu">
            <li><a href="/packs">Packs</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="http://www.twitter.com/tryoften">Support</a></li>
        </ul>
        <a href="#" class="login-btn">Log In</a>
    </div>
</div>